<h1>My Search Page</h1>

<%= form_tag searches_path, method: "POST" do %>
  <%= label_tag(:search, "What do you want to search") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<h1>Your Searchs</h1>

<ul>
  <% @searchs.each do |search| %>
    <li>
      <%= search.query %> (Search Count: <%= search.search_count %>)
    </li>
  <% end %>
</ul>

